/* Set the favicon to the default when no icon is set (rather than the globe/padlock). */
#page-proxy-favicon:not([src]) {
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png") !important;
  -moz-image-region: auto;
}

#identity-box:hover > #page-proxy-favicon:not([src]) {
  -moz-image-region: auto !important;
}

#identity-box:hover:active > #page-proxy-favicon:not([src]),
#identity-box[open=true] > #page-proxy-favicon:not([src]) {
  -moz-image-region: auto !important;
}

/* Default gray box for non-SSL sites. */
#identity-box {
  font-size: 1em !important;
  background-image: -moz-linear-gradient(hsl(0,0%,98%), hsl(0,0%,92%));
  box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset;
  -moz-border-end: 1px solid hsla(0,0%,0%,.1);
}

#identity-box:hover {
  background-image: -moz-linear-gradient(hsl(0,0%,95%), hsl(0,0%,87%));
}

#identity-box[open="true"],
#identity-box:hover:active {
  background-image: -moz-linear-gradient(hsl(0,0%,92%), hsl(0,0%,82%));
  box-shadow: 0 1px 1px hsla(0,0%,0%,.3) inset,
              0 1px 3px hsla(0,0%,0%,.3) inset;
}

/* Gray box color for about: and chrome: URIs. */
#identity-box.chromeUI {
  background-image: -moz-linear-gradient(hsl(0,0%,98%), hsl(0,0%,92%)) !important;
}

/* Remove background image CSS from Fx theme that breaks our CSS. */
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI {
  background-position: 0 0 !important;
  background-size: auto auto !important;
  background-repeat: repeat !important;
}

/* Blue box for non-EV certs. */
#identity-box.verifiedDomain {
  background-image: -moz-linear-gradient(hsl(215,60%,92%), hsl(215,58%,88%));
  box-shadow: 0 1px 0 hsla(215,54%,33%,.05) inset;
  -moz-border-end-color: hsla(215,54%,33%,.2);
  color: hsl(215,54%,33%);
}

#identity-box.verifiedDomain:hover {
  background-image: -moz-linear-gradient(hsl(215,85%,85%), hsl(215,70%,75%));
}

#identity-box.verifiedDomain[open="true"],
#identity-box.verifiedDomain:hover:active {
  background-image: -moz-linear-gradient(hsl(215,80%,82%), hsl(215,67%,70%));
  box-shadow: 0 1px 1px hsla(215,54%,33%,.7) inset,
              0 1px 3px 1px hsla(215,54%,33%,.5) inset;
}

/* Green box for EV certs. */
#identity-box.verifiedIdentity {
  background: -moz-linear-gradient(hsl(91,70%,90%), hsl(93,60%,81%)) !important;

  box-shadow: 0 1px 0 hsla(92,81%,16%,.05) inset;
  -moz-border-end-color: hsla(92,81%,16%,.2);
  color: hsl(92,100%,20%) !important;
}

#identity-box.verifiedIdentity:hover {
  background-image: -moz-linear-gradient(hsl(92,69%,87%), hsl(92,44%,71%)) !important;
}

#identity-box.verifiedIdentity[open="true"],
#identity-box.verifiedIdentity:hover:active {
  background-image: -moz-linear-gradient(hsl(92,65%,80%), hsl(92,40%,58%)) !important;
  box-shadow: 0 1px 1px hsla(92,81%,16%,.6) inset,
              0 1px 3px 1px hsla(92,81%,16%,.5) inset;
/*+  -moz-border-end: 1px solid hsla(92,81%,16%,.2);*/
}

/* Mostly fudged to look right in Windows Classic. */
#identity-box {
  -moz-margin-end: 3px !important;
}

#identity-box.verifiedDomain, #identity-box.verifiedIdentity {
  padding-right: 2px !important;
}

#identity-icon-labels {
  -moz-padding-end: 1px !important;
}

/* "Switch to tab" box: fudged to look right in Windows Classic, untested elsewhere. */
#urlbar-display {
  -moz-margin-start: 1px !important;
  -moz-margin-end: 2px !important;
}
